@page
@model SocialFit.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center my-3">
    <div class="col-10 col-md-4">
        <h5 style="text-align: center; font-size: 1.5rem">Criar conta</h5>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-form">
                <input placeholder="E-Mail" asp-for="Client.Login" />
                <span asp-validation-for="Client.Login" class="text-danger"></span>
            </div>

            <div class="input-form">
                <input placeholder="Senha" type="password" asp-for="Client.Password" maxlength="8" />
                <span asp-validation-for="Client.Password" class="text-danger"></span>
            </div>

            <div class="input-form">
                <input placeholder="Repetir senha" type="password" name="repeat-passwd" maxlength="8" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <!--<a asp-page="#">Leia os Termos</a>-->
				<p><input type="checkbox" name="concordar" style="width:20px; height: 20px; margin-top:20px; margin-right:20px" />Eu aceito os <a asp-page="#">termos</a>.
</div>
            <div class="form-group d-flex flex-column">
                <button  type="submit" class="btn-cadastrar mt-3">Tornar-me membro</button>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
