@page
@model SocialFit.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Create";
}


<<<<<<< HEAD
<div class="row">
    <div class="col container-cadastro" >
=======
<div class="row justify-content-center my-3">
    <div class="col-10 col-md-4">
>>>>>>> 97abeff861750ea6d9da11b11eaa77d7c0c1c6d1
        <h5 style="text-align: center; font-size: 1.5rem">Criar conta</h5>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-form">
                <label asp-for="Client.Login">Email</label>
                <input asp-for="Client.Login" />
                <span asp-validation-for="Client.Login" class="text-danger"></span>
            </div>

            <div class="input-form">
                <label asp-for="Client.Password">Senha</label>
                <input type="password" asp-for="Client.Password" maxlength="8" />
                <span asp-validation-for="Client.Password" class="text-danger"></span>
            </div>

            <div class="input-form">
                <label class="control-label">Repetir senha</label>
                <input type="password" name="repeat-passwd" maxlength="8" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <a asp-page="#">leia os termos</a>
<<<<<<< HEAD
                <p><input type="checkbox" name="concordar" style="width:20px; height: 20px; margin-top:20px; margin-right:20px"/>Eu aceito os termos;
            </div>

            
            <button type="submit" class="btn-cadastrar">Tornar-me membro</button>
=======
                <p><input type="checkbox" name="concordar" style="width:20px; height: 20px; margin-top:20px; margin-right:20px" />Eu aceito os termos;
            </div>
            <div class="form-group d-flex flex-column">
                <button  type="submit" class="btn-cadastrar mt-3">Tornar-me membro</button>
            </div>

>>>>>>> 97abeff861750ea6d9da11b11eaa77d7c0c1c6d1
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
