@page
@model SocialFit.Pages.Account.LoginModel
@{
}

<div class="row">
    <div class="col container-cadastro">
        <h5 style="text-align: center; font-size: 1.5rem">Acessar Portal</h5>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-form">
                <label asp-for="Client.Login">Email</label>
                <input asp-for="Client.Login" name="email" />
                <span asp-validation-for="Client.Login" class="text-danger"></span>
            </div>

            <div class="input-form">
                <label for="passwd">Senha</label>
                <input type="password" asp-for="Client.Password" name="passwd" maxlength="8" />
                <span asp-validation-for="Client.Password" class="text-danger"></span>
            </div>

            <div class="form-group form-check" style="margin-top:60px">
                <a asp-page="#">Lembrar senha</a>
            </div>

            <button type="submit" id="btn-logar" class="btn-cadastrar">Acessar Portal</button>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/login.js"></script>
}
