* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: font-family: 'Roboto', sans-serif;
}

.hamburguer {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    z-index: 999;
}

.risco{
    width:25px;
    height:3px;
    border-radius:2px;
    background-color: #fff
}

.menu{
    display: flex;
   
}


.menu li a {
        color: #fff;
        margin: 0px 20px;
}

 .menu li a:hover {
        color: #552605;
       transition:0.7s;
       text-decoration: none;
  
}



header {
    width: 100%;
    background-color: #ff6a00;
    padding: 10px 20px;
    position: fixed;
    z-index: 999;
}

.nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 40px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
}


@media screen and (max-width: 600px){
    .hamburguer{
        display:flex;
        z-index:999;  
        cursor:pointer;
    }
    .menu{
        position: fixed;
        right:-100%;
        top:0;
        height: 100vh;
        width:250px;
        margin: 0;
        background-color:rgba(194, 82, 2, 0.75);  
        flex-direction: column;
        align-items: center;
        padding: 100px 20px;
        transition: 0.7s;
    }
    .nav{
        padding:0px 10px;
    }

    .menu li{
        margin-top: 20px;
    }

    .menu.active{
        right: 0;
    }

}


.banner {
    width: 100%;
    max-width:1200px;
    display: flex;
    height: 450px;
    margin: 70px auto;
    padding: 0 25px;s
    align-items: center;
    justify-content: center;
    background: url("../Assets/Runner (1).jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    text-align: center
}

.banner > h5{
    color: #fff;
    font-size: 2rem
}

.btn-baner {
    width: 300px;
    height: 45px;
    background-color: transparent;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    border: 2px solid #fff;
    margin: 30px auto
}

    .btn-baner:focus {
        outline-style: none;
    }

@media only screen and (max-width: 400px) {
  .banner{
      height:200px
  }

    .banner > h5 {
        font-size: 1rem
    }
  .btn-baner{
      width:200px;
      height:35px;
      font-size: 1rem;
  }

    .container-card {
        width: 100% !important;
        display: block;
    }

    .container-cadastro{
        width: 100%;
    }

}


.anuncios {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    color: #555;
    flex-direction: column;
    text-align: center;
}

.anuncios > h5{
    font-size: 1.5rem

}

    .cards-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        padding: 25px;
        flex-wrap: wrap
    }

.container-card {
    width: 12rem;
    height: 250px; 
    margin: 10px auto;
}

.card-body > h5 {

    font-size: 1rem;
}

.card > img {
   width:100%;
   height: 130px
}

/**#7226d3*/

.vantagens {
    background-color: #ff6a00;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    font-size:1.5rem
}

.vantagens > h5 {
    font-size: 1.5rem;
}

.lista-vantagens{
    margin-top: 25px;
}


.lista-vantagens > ul {
    margin-left: 25px;
    list-style-type: square;
}

 .lista-vantagens > ul > li {
        margin-left: 25px;
        font-size: 1.3rem;
        margin-top: 15px
}

.container-aplicativos{
    max-width:1000px;
    width:100%;
    height:200px;
    margin:50px auto;
    text-align:center;
    display: flex;
    flex-direction: column    
}

.loja-aplicativos{
    max-width:1000px;
    width: 100%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loja-aplicativos > h5 {
    font-size: 1.5rem;
    color: #555;
}

.loja-aplicativos > ul{
    list-style: none;
    color:#555;
    display: flex;
    margin: 0 auto;
}

.loja-aplicativos > ul > li {
     color:#555;
     margin: 15px 40px;
     font-size:1.5rem
 }

.loja-aplicativos > ul > li > p{
    margin-top:20px;
}

.container-footer{
    width: 100%;
    background-color:#b65109;
    height: 100px;
}

input {
    border-bottom: 2.5px solid #555;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height:30px;
    padding-left:10px;
}

 input:focus {
        outline-style: none;
  }

.input-form{
   margin: 20px auto;
  
}

.container-cadastro{
    
    max-width: 400px;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left:auto;
    margin-right: auto;
    margin-top:80px;
    padding: 20px 15px;
    align-items: center;
}

label {
    font-size: 1rem
}

.btn-cadastrar {
    width: 300px;
    height: 45px;
    background-color: tomato;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    border: 2px solid #fff;
    margin: 30px auto;
}

.btn-cadastrar:focus{
    outline-style: none;
}