@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class=" banner col">
            <h5>Venha fazer parte da sociedade fitness que mais cresce no país!</h5>
            <a asp-page="/Clients/Create"><button type="button" class="btn-baner">Junte-se a nós</button></a>
    </div>
</div>


<section class="anuncios">
    <h5>Aqui você encontrará</h5>
    <div class="cards-img">
        <div class="card container-card">
            <img class="card-img-top" src="./Assets/saude-image.jpeg" alt="saude e lazer">
            <div class="card-body">
                <h5 class="card-title">Saúde e bem estar</h5>
            </div>
        </div>

        <div class="card container-card">
            <img class="card-img-top" src="./Assets/treino.jpg" alt="treino">
            <div class="card-body">
                <h5 class="card-title">Treino de qualidade</h5>
            </div>
        </div>

        <div class="card container-card">
            <img class="card-img-top" src="./Assets/alimentação.jpg" alt="alimentação">
            <div class="card-body">
                <h5 class="card-title">Alimentação saudavél</h5>
            </div>
        </div>

        <div class="card container-card">
            <img class="card-img-top" src="./Assets/academia.jpg" alt="academia">
            <div class="card-body">
                <h5 class="card-title">Parceiros em todo país</h5>
            </div>
        </div>
    </div>

</section>

<section class="vantagens">
    <h5 style="text-align: center">Tornar-se um parceiro, você poderá :</h5>

    <div class="lista-vantagens">
        <ul>
            <li>
                Ser um proficional ou trainner <a href="#" class="text-decoration-none text-white"><b>(saiba mais cliecando aqui)</b> </a>
            </li>

            <li>
                Encontrar amigos através do portal
            </li>

            <li>
                Ver o seu progresso através da time-line
            </li>

            <li>
                Encontrar pessoas motivadoras
            </li>

            <li>
                Ter sua conta vinculada com a sua academia em qualquer lugar do país <a href="#" class="text-white"><b>(saiba como)</b></a>
            </li>

        </ul>
    </div>
    <button type="button" class="btn-baner">Junte-se a nós</button>
</section>

<section class="container-aplicativos">
    <h5> Baixe nosso aplicativo através da loja do seu aparelho que está disponível nas plataformas:</h5>
    <div class="loja-aplicativos">
        <ul>
            <li>
                <i class='fas fa-apple-alt' style='font-size:4.5rem'></i>
                <p>IOS</p>
               
            </li>

            <li>
                <i class='fab fa-android' style='font-size:4.5rem'></i>
                <p>ANDROID</p>

            </li>
        </ul>
    </div>

</section>
   

