@page
@model SocialFit.Pages.SucessModel
@{
}


<div>
    <h5>Seja bem vindo a nossa equipe!!</h5>

    <h5>O cadastro de usuário ainda está imcompleto, para terminar de preenche-lo é facíl, basta você acessar a configuração de contas e clicar em perfil!</h5>

    <a asp-page="/Index">Voltar a  pagina inicial</a>
</div>